

*{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Open Sans', sans-serif;
}



.bg-header{
    background-color: rgb(21, 101, 192) ;
    box-shadow: 0 .0rem 1rem rgba(21, 101, 192, 0.5);
}

.col-header{
    color: #1565C0 ;
}

.bg-slogan{
    background-color: #2196F3 ;
    box-shadow: 0 .0rem 1rem rgba(33, 150, 243,0.5);
}

.col-slogan{
    color: #2196F3 ;
}

.w-fit{
    width: fit-content;
}

.h-fit{
    height: fit-content;
}

.z-0{
    z-index: 0;
}

.z-1{
    z-index: 1;
}

.article-description{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 24px;
    overflow: hidden;
}

.article-item {
    transition: all 0.2s ease-in-out;

    transform: translateX(0);
}

.article-item:hover {
    transform: translateX(0.3rem);

}

.z-3{

    z-index: 3;
}

.z-2{

    z-index: 2;
}

.glow{
    -webkit-filter: drop-shadow(0 0 .5rem rgba(255,255,255,0.2));
}