

*{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Open Sans', sans-serif;
}

main>div>div{
    min-height: 100vh;
}

.bg-header{
    background-color: rgb(21, 101, 192) ;

}

.col-header{
    color: #1565C0 ;
}

.bg-slogan{
    background-color: #2196F3 ;
}

.col-slogan{
    color: #2196F3 ;
}


.w-fit{
    width: fit-content;
}

.h-fit{
    height: fit-content;
}

.z-0{
    z-index: 0;
}

.z-1{
    z-index: 1;
}

.article-item {
    transition: all 0.2s ease-in-out;

    transform: translateX(0);
}

.article-item:hover {
    transform: translateX(0.0rem);
}

.article-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 24px;

    overflow: hidden;

    max-height: 24px;
    transition:ease-in-out .2s;
}

.article-description::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0.0rem;
    left: 0rem;
    background:linear-gradient(90deg , transparent 75% , white 100%);
    pointer-events: none;
}

.article-item:hover .article-description {
    max-height: 120px;
}

.z-3{

    z-index: 3;
}

.z-2{

    z-index: 2;
}

.glow{
    -webkit-filter: drop-shadow(0 0 .5rem rgba(255,255,255,0.2));
}